<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
 http://surferonwww.info/BlogEngine/?tag=/Chart
 -->
<configuration>
  <appSettings>
    <add key="Environment" value="TEST"/>
    <!-- ↓チャートコントロール用の設定 -->
    <add key="ChartImageHandler" value="storage=session;timeout=20;"/>
    <!-- ↑チャートコントロール用の設定 -->
    <!-- ↓INIファイルのパス設定 -->
    <add key="InifilePath" value="C:\APPL_LNG\APPLINI\LNG\JOTWEB_LNG.ini"/>
    <!-- ↑INIファイルのパス設定 -->
  </appSettings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- ↓チャートコントロール用の設定 -->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <!-- ↑チャートコントロール用の設定 -->
    <compilation strict="false" explicit="true" targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="900" maxRequestLength="2097151"/>
    <pages masterPageFile="~/LNG/LNGMasterPage.Master" clientIDMode="Static" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <customErrors defaultRedirect="~/LNG/ex/page_err_default.html" mode="On">
      <error statusCode="400" redirect="~/LNG/ex/page_400.html" />
      <error statusCode="401" redirect="~/LNG/ex/page_401.html" />
      <error statusCode="403" redirect="~/LNG/ex/page_403.html" />
      <error statusCode="404" redirect="~/LNG/ex/page_404.html" />
      <error statusCode="500" redirect="~/LNG/ex/page_500.html" />
      <error statusCode="501" redirect="~/LNG/ex/page_501.html" />
      <error statusCode="503" redirect="~/LNG/ex/page_503.html" />
    </customErrors>
    <globalization culture="ja-JP" uiCulture="ja-JP"/>
    <sessionState mode="InProc" timeout="180"/>
    <identity impersonate="true"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="M10000LOGON.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache"/>
        <add name="Pragma" value="no-cache"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23C6F5D73BE07ECA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 4773EF56-9D2B-4E80-A7CE-FDC792FBC058-->