body {
    background-color: #f3f3f3;
}

input[type=text] {
    border-radius: 0;
}

/* 条件画面 チェックボックス */
#ChkDelDataFlg {
    vertical-align: text-bottom
}

/* 常に▼表示 */
input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

.searchbox .inputItem a#WF_DELDATAFLG {
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchbox .inputItem a#WF_DELDATAFLG label {
    padding-top: 1px;
}