/* ************************** */
/* ファイル選択               */
/* ************************** */
.divUploadArea {
    display: flex;
    align-items: center;
    margin-left: 4px;
    text-decoration: none;
}

.divUploadAreaLeft,
.divUploadAreaCenter,
.divUploadAreaRight {
    display: flex;
    align-items: center;
    margin-left: 4px;
    text-decoration: none;
}

#btnFileSelect {
    text-decoration: none;
    height: 23px;
    width: 120px;
    line-height: 23px;
    text-align: center;
    color: #2bb6c1;
    border: solid 1px #2bb6c1;
    transition: 0.3s;
    font-size: 1.0em;
    cursor: pointer;
    display: inline-block;
    margin-left: 40px;
}
    #btnFileSelect:hover {
        background: #2bb6c1;
        color: #fff;
    }

#txtFileName {
    text-decoration: none;
    font-size: 1.0em;
    height: 25px;
    width: 300px;
    line-height: 23px;
    text-align: left;
    color: #2bb6c1;
    border: solid 1px #2bb6c1;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

    #txtFileName:hover {
        background: #2bb6c1;
        color: #fff;
    }
}