/* ************************** */
/* 支店・エリア・駅選択       */
/* ************************** */
#pnlDdlArea {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    overflow: hidden;
}

/* ドロップダウンリスト */
.divDdlArea,
.divDdlArea2,
.divDdlArea3,
.divDdlArea4,
.divDdlArea5,
.divDdlArea6 {
    display: flex;
    align-items: center;
    position: relative;
}
.divDdlArea{
    gap: 24px;
}
.divDdlArea2 {
    gap: 24px;
    margin-left: 12px;
}
.divDdlArea3 {
    margin-left: 32px;
}
.divDdlArea4 {
    margin-left: 36px;
}
.divDdlArea5 {
    margin-left: 16px;
}
.divDdlArea6 {
    margin-left: 43px;
}

.divDdlArea3 select.ddlSelect {
    height: 28px;
    width: 270px;
    font-size: 11pt;
    padding: 2px;
}

.ui-multiselect {
    border-color: #cfcfcf;
    border-radius: 0;
    height: 32px;
    margin-left: 8px;
    padding: 2px 8px;
    color: #333;
    font-weight: normal;
    font-size: 16px;
}

.divDdlAreaLeft,
.divDdlAreaMiddle,
.divDdlAreaRight {
    display: flex;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
}

    .divDdlAreaLeft b:nth-child(1),
    .divDdlAreaRight b:nth-child(1) {
        margin-top: 1px;
    }

.divDdlArea select.ddlSelect {
    height: 32px;
    width: 200px;
    margin-left: 8px;
    font-size: 16px;
    padding: 2px 8px;
    border-color: #cfcfcf;
    outline: none;
    cursor: pointer;
}

.divDdlAreaRight select.ddlSelect {
    height: 28px;
    width: 180px;
    font-size: 11pt;
    padding: 2px;
}

/* 駅コード・名称 */
.divDdlAreaStation{
    display: flex;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    width: 390px;
}

/* 駅コード */
input.txtStationCode { 
    height: 32px;
    width:  80px;
    margin-left: 8px;
    font-size: 16px;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    border-radius: 0;
    flex-shrink: 0;
}

/* 駅名称 */
.LblStationName {
    text-align: left;
    font-size: 16px;
    color: #737373;
    margin-left: 5px;
}

/* 駅コードの注意書き */
.divLblStationNote {
    position: absolute;
    top: -21px;
    left: 0;
    font-size: 12px;
    color: #de0000;
}

/* コンテナ記号 */
.divDdlAreaCtnType{
    display: flex;
    align-items: center;
    height: 32px;
}

/* コンテナ記号 */
input.txtCtnType { 
    width: 100px;
    height: 100%;
    margin-left: 8px;
    border-radius: 0;
}

/* コンテナ番号 */
.divDdlAreaCtnNo{
    display: flex;
    align-items: center;
    height: 32px;
}

/* コンテナ番号 */
input.txtCtnNo { 
    width: 100px;
    height: 100%;
    margin-left: 8px;
    text-align: right;
    border-radius: 0;
}

input.popupCls {
    height: 24px;
    background-color: rgba(225, 225, 225, 1);
    vertical-align: middle;
    text-align: left;
    border: none;
    margin-left: 5px;
}

/* 切替の注意書き */
.divLblModeChg {
    position: absolute;
    top: -21px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    color: #de0000;
}

/* 状態の注意書き */
.divLblStatusNote {
    position: absolute;
    top: -21px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    color: #de0000;
}

/* ************************** */
/* タイトルエリア             */
/* ************************** */
#pnlTitle {
    background: #0f4493;
    color: #fff;
    height: 40px;
    margin: 0 16px;
    padding: 0 16px;
    display: flex;
}

.divTitleLeft {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.divTitleRight {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.btnTitleRefresh {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    user-select: none;
    overflow: hidden;
    position: relative;
}

.btnTitleRefresh:hover {
    cursor: pointer;
}

.btnTitleRefresh:hover .btnRefreshImg {
    animation: 3s linear infinite rotationIcon;
}

/* 再描画ボタンアイコン */
.btnRefreshImg {
    width: 100%;
    height: 100%;
    background: url('../img/google_font_icon_refresh.svg') no-repeat center center;
    background-size: 24px 24px;
    position: absolute;
}

/* ************************** */
/* セレクトボックス           */
/* ************************** */
.selectFrame {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    background-color: #fff;
    margin: 0 16px 8px;
    padding: 24px 0 8px 16px;
    overflow-x: auto;
}

.selectBox {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
}

.divSelectItem {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 55px;
    margin-right: 5px;
}

.divSelectItem4 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

.divSelectItem2 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

/* 各入力ボックス(名称） */
.divSelectItem a:nth-child(1),
.divSelectItem2 a:nth-child(1),
.divSelectItem3 a:nth-child(1),
.divSelectItem5 a:nth-child(1),
.divSelectItem6 a:nth-child(1) {
    text-align: left;
    width: 100%;
}

.divSelectItem5 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 15px;
}

.divListItem input[type=checkbox],
.divListItem input[type=radio] {
    display: none;
}

    .divListItem input[type=checkbox] + label,
    .divListItem input[type=radio] + label {
        display: flex;
        width: 88px;
        height: 32px;
        padding: 3px 8px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid #cfcfcf;
        font-weight: bold;
        color: #333;
        position: relative;
        box-sizing: border-box;
        border-radius: 0;
    }

    .divListItem input[type=checkbox]:checked + label,
    .divListItem input[type=radio]:checked + label {
        background-color: #e1eeff;
        border-color: #0d6efd;
        color: #0d6efd;
    }

        .divListItem input[type=checkbox]:checked + label:before,
        .divListItem input[type=radio]:checked + label:before {
            position: absolute;
            left: 2px;
            content: "✔";
            color: #0d6efd;
        }

    .divListItem input[type=checkbox]:not(:disabled) + label:hover,
    .divListItem input[type=radio]:not(:disabled) + label:hover {
        cursor: pointer;
        background-color: #e1eeff;
        border-color: #0d6efd;
        color: #0d6efd;
    }

.divListItem{
    display:flex;
    align-items:center;
    gap: 8px;
    position: relative;
}

.divListItem ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    list-style: none;
}

.grc0001Settings {
    display: none;
}

.grc0001Wrapper ul {
    width: auto;
}

.divBtnRight {
    display: flex;
    gap: 8px;
    margin-left: auto;
    padding-right: 16px;
}

.divBtnArea {
    padding-left: 5px;
}

#btnsearch,
#btnClear,
#btnreset,
#btnall {
    width: 100px;
    height: 32px;
}
#btnsearch,
#btnreset,
#btnall {
    background-color: #0d6efd;
    border: solid 1px #0d6efd;
    color: #fff;
}
#btnsearch:hover,
#btnreset:hover,
#btnall:hover {
    background-color: #589cff;
    border: solid 1px #589cff;
}


/* 除却 */
/* 選択ボックス */
div.singleInput > span {
    display: block;
}
/* 選択ボックス */
div.singleInput > .actionButtonBox {
    padding-left: 0px;
}
/* 高さ指定 */
.grc0001Wrapper input[type=checkbox] + label,
.grc0001Wrapper input[type=radio] + label{
    width: 106px;
    height:32px;
    margin: 0;
    padding: 3px 8px;
    box-sizing: border-box;
}

/* 除外 */
.grc0001Wrapper ul[id='WF_ZYOGAIKBNLIST_chklGrc0001SelectionBox'] {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:100%;
}

.grc0001Wrapper ul[id='WF_ZYOGAIKBNLIST_chklGrc0001SelectionBox'] input[type=checkbox] + label,
.grc0001Wrapper ul[id='WF_ZYOGAIKBNLIST_chklGrc0001SelectionBox'] input[type=radio] + label{
    width: 80px;
}

.divSelectItem3 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 111px;
    margin-right: 15px;
    /*margin : 0 0 0 auto;*/
}

.divSelectItem6 {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 55px;
    margin-right: 15px;
}

/* ************************** */
/* コンボボックス             */
/* ************************** */
/* 状態 */
.divDdlArea4 select.ddlSelectZyogaiKbnList {
    border-color: #cfcfcf;
    border-radius: 0;
    height: 32px;
    margin-left: 8px;
    width: 200px;
    padding: 2px 8px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

/* ************************** */
/* 合計エリア                 */
/* ************************** */
.pnlTotalArea {
    margin: 0 16px;
    padding: 8px 16px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #0f4493;
    color: #fff;
    white-space: nowrap;
}
@media screen and (max-width: 999px) {
    .pnlTotalArea {
        padding: 8px 0 8px 16px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
    .pnlTotalAreaInner {
        transform: scale(0.8);
        transform-origin: left center;
        width: 125%;
    }
}
@media screen and (max-width: 999px) {
    .pnlTotalAreaInner {
        overflow-x: scroll;
    }
}


.divTotalArea {
    display: flex;
}
.acd-content .divTotalArea:last-of-type {
    margin-top: 8px;
}

.divTotalTitle {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-right: 24px;
}

.divTotalTitle input[type=text]:hover {
    background: transparent;
}

.divTotal {
    display: flex;
    gap: 8px;
}

.divType01,
.divType02,
.divType03 {
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: bold;
    padding: 0 8px;
}
.divType01 {
    background-color: #ffe3e3;
    color: #822424;
}
.divType02 {
    background-color: #e1eeff;
    color: #2544b2;
}
.divType03 {
    background-color: #e4f9eb;
    color: #185429;
}

.divTotal input[type=text]:hover {
    background: transparent;
}

.txtTotalQty {
    background-color: #0f4493;
    width: 110px;
    height: 26px;
    text-align: right;
    font-weight: bold;
    color: white !important;
    border: none !important;
    font-size: 18px !important;
}

.txtQty01 {
    width: 70px;
    height: 22px;
    text-align: right;
    font-weight: bold;
    background-color: #ffe3e3;
    color: #822424 !important;
    border: none !important;
}

.txtQty02 {
    width: 70px;
    height: 22px;
    text-align: right;
    font-weight: bold;
    background-color: #e1eeff;
    color: #2544b2 !important;
    border: none !important;
}

.txtQty03 {
    width: 70px;
    height: 22px;
    text-align: right;
    font-weight: bold;
    background-color: #e4f9eb;
    color: #185429 !important;
    border: none !important;
}

/* ************************** */
/* アコーディオンの設定       */
/* ************************** */
.acd-check {
    display: none;
}

.acd-label {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

    .acd-label:after {
        content: "▼";
        padding: 4px 10px;
        background-color: #0f4493;
    }

.acd-content {
    height: 0;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.acd-check:checked + .acd-label:after {
    content: "▲";
}

.acd-check:checked + .acd-label + .acd-content {
    height: 60px;
    margin-top: 8px;
    padding-top: 8px;
    opacity: 1;
    visibility: visible;
    border-top: 2px solid white;
}

/* ************************** */
/* グリッドエリア             */
/* ************************** */
.pnlGridArea {
    margin: 8px 16px 0;
    padding: 8px 16px;
    border: 1px solid #cfcfcf;
    box-sizing: border-box;
    background-color: #fff;
}

.divGridAreaHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.divGridAreaHeadLeft {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
}

.divGridAreaHeadMiddle {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 120px;
}

.divGridAreaHeadRight {
    display: flex;
}

/* 表示順クリアボタンの設定 */
.divSortClearButton {
    box-sizing: border-box;
    white-space: nowrap; /* 小さくリサイズしても折り返さない設定 */
    align-items: center;
}
    /* 左寄せの箱 */
    .divSortClearButton .leftSide {
        margin-right: 2px;
        box-sizing: border-box;
    }

    /* 右寄せの箱 */
    .divSortClearButton .rightSide {
        margin-left: auto; /* 右に寄せる為マージンで埋める */
        box-sizing: border-box;
    }

/* グリッドの設定 */
.divListGrid {
    overflow: auto;
}

#pnlDepStationList {
    position: relative;
    top: 0;
    left: 0;
}

#pnlDepStationList td, #pnlDepStationList th {
    white-space: nowrap; /* 折り返させない */
    text-overflow: ellipsis; /* 領域越を点々表示 */
    font-size: 14px;
    height: 32px;
    box-sizing: border-box;
}

.spreadStyle {
    display: none;
    height: 50%;
    overflow: auto;
}

div[data-generated="1"] div[id$="_HL"] {
    bottom: 0;
}

div [data-generated="1"][data-scrolltype="1"] div[id$="_DR"],
div [data-generated="1"][data-scrolltype="1"] div[id$="_DL"] {
    overflow: inherit;
    top: 32px;
}

div [data-generated="1"][data-scrolltype="1"] div[id$="_HR"] {
    right: 0;
    overflow: inherit;
}

div[data-generated="1"] div[id$="_HL"] table,
div[data-generated="1"] div[id$="_HR"] table,
div[data-generated="1"] div[id$="_DR"] table,
div[data-generated="1"] div[id$="_DL"] table {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #cfcfcf;
}
div[data-generated="1"] div[id$="_HL"] table,
div[data-generated="1"] div[id$="_HR"] table {
    position: sticky;
    top: 0;
    z-index: 4;
}

div[data-generated="1"] div[id$="_HL"] table tr,
div[data-generated="1"] div[id$="_HR"] table tr {
    background-color: #0f4493;
    color: #fff;
}

div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd),
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) {
    background-color: #e1eeff;
}

div[data-generated="1"] div[id$="_HL"] th {
    border: none;
}
div[data-generated="1"] div[id$="_DL"] th {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cfcfcf;
}
div[data-generated="1"] div[id$="_HR"] th{
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #cfcfcf;
}
div[data-generated="1"] div[id$="_DR"] td {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    padding: 0 3px;
}

div[data-generated="1"] span.listSort {
    text-decoration-line: none;
}

div[data-generated="1"] div[id$="_DR"] td select {
    outline: none;
}

/* ************************** */
/* メモ履歴                   */
/* ************************** */
#pnlMemoHistoryWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#pnlMemoHistoryArea {
    height: 80%;
    width: 90%;
    margin-top: 60px;
    margin-left: 20px;
    align-items: center;
    font-size: 12pt;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(225, 225, 225, 1)
}

#divMemoHistoryHead {
    position: relative;
    left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.divMemoHistoryHeadLeft {
    display: flex;
    width: 200px;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 10px;
}

.divMemoHistoryHeadMiddle {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 100px;
}

.divMemoHistoryHeadRight {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 300px;
}


#divMemoHistoryButtonArea {
    box-sizing: border-box;
    white-space: nowrap; /* 小さくリサイズしても折り返さない設定 */
    align-items: center;
}

#btnHistoryCLOSE {
    position: relative;
    left : 400px;
    height: 100%;
    box-sizing: border-box;
    font-size: 100%;
    width: 100px;
}

#divMemoHistoryBody {
    position: relative;
    top: 0px;
    left: 5px;
    width: 99%;
    height: 450px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(225, 225, 225, 1);
}

#pnlMemoHistory {
    position: relative;
    top: 10px;
    left: 20px;
    width: 97%;
    height: 90%;
}

    #pnlMemoHistory td, #pnlMemoHistory th {
        white-space: nowrap; /* 折り返させない */
        text-overflow: ellipsis; /* 領域越を点々表示 */
        font-size: 10pt;
    }

/* ************************** */
/* 共通エリア                 */
/* ************************** */
/* カレンダーアイコンの位置 */
.calendarIconArea {
    top: -6px;
}

.ui-state-default .ui-icon {
    margin-top: 4px;
}

/*テンプレートダウンロードボタン*/
#WF_DOWNLOAD_BTN {
    margin-right: 50px;
}

/*アップロードボタン*/
#WF_UPLOAD_LABEL {
    cursor: pointer;
}

input#WF_UPLOAD_BTN {
    display: none;
}

#WF_UPLOAD_LABEL:has(input:disabled) {
    background-color: #f3f3f3;
    color: #aaa;
}

#WF_UPLOAD_LABEL:has(input:disabled):hover {
    border-color: #cfcfcf;
    cursor: default;
}

/* ******* */
/* TIP表示 */
/* ******* */
/*[title] {
    position: relative;
    display: inline-block;
}

    [title]::after {
        position: absolute;
        transition: all 0.3s ease 0s;
        opacity: 0;
        top: 0px; //HOVERのスタート位置
        left: 0px;
        display: block;
        padding: 0.2em 0.5em;
        content: attr(data-tiptext);
        color: #ffffff;
        border-radius: 6px;
        background-color: RGBA(27, 37, 56, 0.8);
        font-size: 0.8em;
        z-index: 5;
        pointer-events: none;
        white-space: pre;
    }

    [title]:hover::after {
        top: 24px; //HOVER位置
        opacity: 1;
    }

[title='']::after {
    display: none;
}*/