/* 一旦レスポンス用 画像のプリロード */
body:before {
    content: url(../img/leftbox.png) url(../img/calendar.png);
    display: none;
}
/* テキストボックス補正 */
input[type=text] {
    height: 32px;
    left:0px;
    font-size: 14px;
    box-sizing: border-box;
    padding-top:1px;
    padding-left:5px;
    padding-bottom:1px;
    text-align: left;
    border-radius: 0;
}
input[type=text]:disabled {
    background-color: #f3f3f3;
}
.boxIconArea div, .calendarIconArea div {
    margin-top: calc(100% - 7px);
}
/* アイコン位置補正 */
/* Chromeのみアイコンがテキストボックスの中央に行かないので補正 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .calendarIconArea div, .boxIconArea div {
        margin-top: calc(100% - 7px);
    }
}
/* Edgeも通ってしまうので打ち消す */
_:-ms-lang(x)::backdrop, .calendarIconArea div, .boxIconArea div {
    margin-top: calc(100% - 7px);
}
#divContensbox{
    overflow: hidden;
    background-color: #f3f3f3;
}
 /* コンテンツの最小横幅 */
.headerbox {
    min-width: 1220px;
}

.headerbox a {
    font-size: 0.8em;
}
.actionButtonBox {
    margin: 0 16px;
    padding: 8px 0;
    width: auto;
}

/* ************************** */
/* ボタンの設定 */
/* ************************** */
/* 明細のボタン */
.btn-stickyDetail {
    height: 32px;
    width: 67px;
    line-height: 23px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: solid 1px #cfcfcf;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    margin-left: 5px;
}

.btn-stickyDetail:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}

.btn-stickyDetail:disabled {
    background-color: #f3f3f3;
    border-color: #cfcfcf;
    color: #aaa;
}

/* ワークフロー用のボタン */
.btn-stickyWorkflow {
    text-decoration: none;
    height: 30px;
    width: 100px;
    line-height: 23px;
    text-align: center;
    color: #2bb6c1;
    border: solid 1px #2bb6c1;
    transition: 0.3s;
    font-size: 14.5px;
    padding-left: 15px;
    outline: none;
}

.btn-stickyWorkflow:hover {
    background: #2bb6c1;
    color: #fff;
}

.btn-stickyWorkflow:disabled {
    background-image: none;
    background-color: #ccc;
    border-color: #ccc;
    color: #2bb6c1;
}

/* 締日区分のボタン */
.btn-stickyClosingdayKbn {
    text-decoration: none;
    height: 32px;
    width: 100px;
    line-height: 23px;
    text-align: center;
    color: #333;
    border: solid 1px #cfcfcf;
    border-radius: 6px;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    margin-left: 5px;
}

.btn-stickyClosingdayKbn:hover {
    border-color: #0d6efd;
    background-color: #e1eeff;
    color: #0d6efd;
}

.btn-stickyClosingdayKbn:disabled {
    background-color: #f3f3f3;
    border: 1px solid #cfcfcf;
    color: #aaa;
}

#WF_Button_SEL_ALL {
    margin-left:105px;
}
#WF_Button_SEL_CANCEL {
    margin-left: 15px;
}


/* ************************** */
/* ヘッダ検索条件             */
/* ************************** */
.headSearch{
    display: flex;
}

/* 明細入力欄の項目名(ラベル) ------------------------------------------------------------------ */
/* ラベル行 */
.headSearchLineLabel {
    display: flex;
    flex-wrap: wrap;
    height: 26px;
    margin-top: 20px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 領域越を点々表示 */
}

.headSearchLineLabel > div.divLblInvoice {
    width:150px;
    height: 24px;
    font-weight: bold;
    font-size: 18px;
}

/* 左位置を合わせる用の空白 */
.headSearchLineLabel > span.spanLeft {
    width: 17px;
    height:24px;
}

.headSearchLineInput {
    display: flex;
    flex-wrap: wrap;
    height: 34px;
    box-sizing: border-box;
}

/* 左位置を合わせる用の空白 */
.headSearchLineInput > span.spanLeft {
    width: 17px;
    height:30px;
}

/* 請求先 */
.headSearchLineInput > a.toriname {
    width:465px;
    height: 30px;
}

#TxtInvoiceName {
    font-size: 18px;
}

#TxtGyomuCardURL {
    width:600px;
    height: 50px;
}

/* ************************** */
/* 明細入力欄の全体の設定 */
/* ************************** */
#detailbox {
    width: auto;
    height: calc(100% - 2.4em - 1.4em);
    margin: 0 0 0 16px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.detailbox a {
    font-size:14.5px;
    align-items: flex-end;
}

/* 空白行 */
.detailboxLineBlank {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 15px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 領域越を点々表示 */
}
/* 空白行 */
.detailboxLineBlank2 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 30px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 領域越を点々表示 */
}
/* 空白行 */
.detailboxLineBlank3 {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 領域越を点々表示 */
}

/* 明細入力欄の項目名(ラベル) ------------------------------------------------------------------ */
/* ラベル行 */
.detailboxLineLabel {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 26px;
    margin-top: 20px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 領域越を点々表示 */
}

/* 明細入力欄の項目名(ラベル用のspan) ----------------------------------------------------------- */
/* 1項目のサイズ */
.detailboxLineLabel > span {
    display:inline-block;
    margin:1px;
}
/* 左位置を合わせる用の空白 */
.detailboxLineLabel > span.spanLeft {
    width: 46px;
    height:24px;
}
/* 空白 最小 */
.detailboxLineLabel > span.span1 {
    width: 17px;
    height:24px;
}

/* 月額リース料（更新後） 右の空白 */
.detailboxLineLabel > span.spanUpdMonthleaseFee {
    width: 10px;
    height:24px;
}
/* 税区分（更新後） 右の空白 */
.detailboxLineLabel > span.spanUpdTaxKbn {
    width: 5px;
    height:24px;
}

/* 明細入力欄の項目名(ラベル用のdiv) ------------------------------------------------------------- */
/* 請求先 */
.detailboxLineLabel > div.divLblInvoiceChg {
    width:175px;
    height: 24px;
    font-weight: bold;
}
/* 請求先の注意書き */
#divLblInvoiceNote {
    color: #de0000;
    width:250px;
    margin-left: 160px;
    margin-top: -10px;
}
/* 一括請求 */
.detailboxLineLabel > div.divLblInvoiceAll {
    width:100px;
    height: 24px;
    margin-left: 130px;
    font-weight: bold;
}

/* 複写の注意書き */
div.divLblCopyNote {
    color: red;
    width:700px;
    height: 24px;
    margin-left: 160px;
}

/* 請求先、請求先部門、請求先分割、契約形態、請求書出力先、計上先 */
.detailboxLineLabel > div.divLblInvoice {
    width:248px;
    height: 24px;
    font-weight: bold;
}

/* 計上先 */
.detailboxLineLabel > div.divLblKeizyo {
    width:140px;
    height: 24px;
    font-weight: bold;
}

/* 細分コード */
.detailboxLineLabel > div.divLblInvSubCd {
    width:80px;
    height: 24px;
    font-weight: bold;
}

.detailboxLineLabel > span.spanInvSplit {
    width:85px;
    height: 24px;
}


/* 契約形態  */
.detailboxLineLabel > div.divLblTypeContract {
    width:470px;
    height: 24px;
}

/* 改造費リース区分 */
.detailboxLineLabel > div.divLblRemodelLeaseKbn {
    width:290px;
    height: 24px;
    font-weight: bold;
}

/* リース開始日、リース終了日、更新後リース開始日、更新後リース終了日 */
.detailboxLineLabel > div.divLblDate {
    width:140px;
    height: 24px;
    font-weight: bold;
}

/* 日割計算*/
.detailboxLineLabel > div.divLblDayCalc {
    width:90px;
    height: 24px;
    font-weight: bold;
}

/* 自動計算 */
.detailboxLineLabel > div.divLblAuotUpd {
    width:113px;
    height: 24px;
    font-weight: bold;
}


/* 更新期間 */
.detailboxLineLabel > div.divLblUpdPeriod {
    width:90px;
    height: 24px;
    font-weight: bold;
}

/* 月額リース料*/
.detailboxLineLabel > div.divLblMonthleaseFee {
    width:150px;
    height: 24px;
    font-weight: bold;
}
/* 税区分*/
.detailboxLineLabel > div.divLblTaxKbn {
    width:  80px;
    height: 24px;
    font-weight: bold;
}

/* 日割端数処理、日割端数処理(更新後) */
.detailboxLineLabel > div.divLblHasuu {
    width:187px;
    height: 24px;
    font-weight: bold;
}

/* アップロードファイルを選択 */
.detailboxLineLabel > div.divUploadArea {
    width:221px;
    height: 24px;
}

.detailboxLineLabel > span.spanClosingDate {
    width: 73px;
    height:24px;
}

/* 空白 */
.detailboxLineInput > span.spanFinal {
    width: 15px;
    height:24px;
}

.detailboxLineInput > span.spanFinal2 {
    width: 34px;
    height:24px;
}

/* 計上区分ラベル */
.detailboxLineLabel > div.divLblAccountKbn {
    width:345px;
    height: 24px;
}

/* 決済条件ラベル */
.detailboxLineLabel > div.divLblKessai {
    width:350px;
    height: 24px;
    font-weight: bold;
}

/* 締日ラベル  */
.detailboxLineLabel > div.divLblClosingDate {
    width:100px;
    height: 24px;
    font-weight: bold;
}

/* 計算月区分 */
.detailboxLineLabel > div.divLblCalcMonthKbn {
    width:130px;
    height: 24px;
    font-weight: bold;
}

/* 締日ラベル  */
.detailboxLineLabel > div.divLblClosingDateDay {
    width:100px;
    height: 34px;
    align-items: flex-end;
}

/* 計上月区分テキスト */
.divDdlArea select.ddlSelectKeijoMKbn {
    height: 32px;
    width: 150px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectKeijoMKbn:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectKeijoMKbn:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 締日 */
.grc0001Wrapper ul[id='WF_CLOSINGDATE_chklGrc0001SelectionBox'] {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:150px;
}

/* 入金日 */
.grc0001Wrapper ul[id='WF_DEPOSITDATE_chklGrc0001SelectionBox'] {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:150px;
}

/* 取引先コード */
input.txtToriCode {
    height: 32px;
    width:  130px;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    margin-left: 5px;
    border:none;
    background-color: #f3f3f3;
    font-size: 18px;
}

/* 締日テキスト */
input.txtClosingDate {
    width: 60px;
    height: 30px;
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    margin-left: 5px;
}


/* ファイナンスリース料 */
.leaseFinalLineInput {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
    .leaseFinalLineInput > a {
        font-weight: bold;
    }

/* 料金 */
input.txtFinalLeaseFee {
    width: 100px;
    height: 30px;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

/* 残存率 */
.divDdlArea select.ddlSelectSurvivalRate {
    display: inline-block;
    height: 30px;
    width: 85px;
    font-size: 16px;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
}
.divDdlArea select.ddlSelectSurvivalRate:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectSurvivalRate:disabled {
    background-color: #f3f3f3;
    color: #aaa;
}

/* 年数 */
input.txtFinalYears {
    width: 60px;
    height: 30px;
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

/* コンテナ一括入力入力欄(INPUT)  -------------------------------------------------------------------------- */
/* ワークフロー入力欄 */
.workflowInput {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    box-sizing: border-box;
}

/* 状態  */
.detailboxLineLabel > div.divLblSituation {
    width:150px;
    height: 24px;
    margin-left: 45px;
    font-weight: bold;
}

/* 状態 */
input.txtSituation {
    background-color: #f3f3f3;
    width: 150px;
    height: 32px;
    color: #333;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: Left;
    margin-left: 45px;
    overflow: hidden;
}

/* コンテナ一括入力入力欄(INPUT)  -------------------------------------------------------------------------- */
/* 明細入力欄 */
.ctnAddInput {
    display: flex;
    flex-wrap: wrap;
    height: 380px;
    padding-left: 34px;
    box-sizing: border-box;
}

/* ファイナンス情報一括入力入力欄(INPUT)  ------------------------------------------------------------------- */
/* 明細入力欄 */
.finalInfoInput {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    width: 800px;
    margin-top: 16px;
    padding-left: 34px;
    box-sizing: border-box;
}

/* 明細入力欄 */
.workflowLineInput {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 45px;
    box-sizing: border-box;
}

/* 明細入力欄(INPUT)  -------------------------------------------------------------------------- */
/* 明細入力欄 */
.detailboxLineInput {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 34px;
    box-sizing: border-box;
}

/* 明細入力欄 */
.detailboxLineInputInvoiceNote {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    box-sizing: border-box;
}

#pnlCtnListSelect.detailboxLineInput {
    height: auto;
}

#pnlCtnListBtn.detailboxLineInput {
    align-items: center;
    padding-left: 34px;
}

#TxtGyomuCardURL {
    width:600px;
    height: 50px;
}

#HLGyomuCardURL {
    width:600px;
    height: 50px;
    font-size: 18px;
}

/* 日付 */
.detailboxLineInput > a.ymd {
    width:140px;
    height: 30px;
}
/* 請求先 */
.detailboxLineInput > a.toriname {
    width:400px;
    height: 30px;
}

/* 請求先部門、請求書出力先、計上先 */
.detailboxLineInput > a.invoice {
    width:221px;
    height: 30px;
}

/* 決算区分 */
.detailboxLineInputKessanKbn {
    display: flex;
    flex-wrap: wrap;
    height: 34px;
    box-sizing: border-box;
    padding-left:17px;
}

.detailboxLineInputKessanKbn > a.kesanKbn {
    width:350px;
    height: 30px;
}

/* 1項目のサイズ */
.detailboxLineInput > span {
    display:inline-block;
    margin:1px;
}
/* 左位置を合わせる用の空白 */
.detailboxLineInput > span.spanLeft {
    width: 46px;
    height:30px;
}
/* 空白 最小 */
.detailboxLineInput > span.span1 {
    width: 17px;
    height:30px;
}
/* 空白 一括請求 */
.detailboxLineInput > span.spanAllInvoice {
    width: 90px;
    height:30px;
}
/* 空白 最小 */
.detailboxLineInput > span.spanAutoUpd {
    width: 40px;
    height:30px;
}

/* 請求書分割 右の空白 */
.detailboxLineInput > span.spanInvSplit {
    width: 85px;
    height:30px;
}

/* 空白 最小 */
.detailboxLineInput > span.spanKeijoMKbn {
    width: 40px;
    height:30px;
}


/* ファイナンス用 */
.detailboxLineInput2 {
    display: flex;
    flex-wrap: wrap;
    width: 367px;
    height: 34px;
    box-sizing: border-box;
}

/* 空白 最小 */
.detailboxLineInput2 > span.span1 {
    width: 17px;
    height:30px;
}

/* 月額リース料、月額リース料（更新後） */
input.txtMonthLeaseFee {
    width: 150px;
    height: 32px;
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    margin-left: 5px;
}

/* 細分コード */
input.txtInvSubCd {
    width:  50px;
    height: 32px;
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

/* タイトル用 */
.pnlSubTitle {
    background: rgb(149,179,215);
    color: rgb(0, 32, 96);
    margin-TOP: 5px;
    font-weight: bold;
    font-size: 16pt;
    border-radius: 5px;
    width: 95%;
}

/* リース額 */
.pnlSubTitle > a.divLblLeaseMoney {
    width:100px;
    height: 30px;
}

/* 決算区分 */
.detailboxLineInput2 > a.kesanKbn {
    width:350px;
    height: 30px;
}

/* 請求書出力先・計上先 */
.detailboxLineInput3 {
    display: flex;
    flex-wrap: wrap;
    width: 245px;
    height: 34px;
    box-sizing: border-box;
}

/* 空白 最小 */
.detailboxLineInput3 > span.span1 {
    width: 13px;
    height:30px;
}

.detailboxLineInput4 {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 25px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* 締日 */
.detailboxLineInput5 {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    height: 34px;
    box-sizing: border-box;
}

/* 決算区分 */
.detailboxLineInput > a.kesanKbn {
    width:300px;
}

/* 空白 最小 */
.detailboxLineInput4 > span.span1 {
    width: 13px;
    height:30px;
}

.detailboxLineLabel > span.spanAccountKbnSplit {
    width:216px;
    height: 24px;
}

/* 更新後決済条件ラベル */
.detailboxLineLabel > divLblUpdAccountKbn {
    width:110px;
    height: 24px;
}

/* 細分コード */
.detailboxLineInput6 {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 34px;
    box-sizing: border-box;
}

/* コンテナ番号 */
input.txtCtnNo {
    width:  90px;
    height: 30px;
    margin-left: 8px;
    color: #333;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

/* ************************** */
/* ファイル選択               */
/* ************************** */
.divUploadArea {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.divUploadAreaLeft,
.divUploadAreaCenter{
    display: flex;
    align-items: center;
}
.divUploadAreaCenter {
    margin-left: 8px;
}
.divUploadAreaCenter .btn-sticky {
    height: 32px;
}

/* アップロードファイルを選択 */
#btnFileSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 200px;
    line-height: 23px;
    text-align: center;
    color: #333;
    border: solid 1px #cfcfcf;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 34px;
    box-sizing: border-box;
}
    #btnFileSelect:hover {
        background-color: #e1eeff;
        border-color: #0d6efd;
        color: #0d6efd;
    }

#txtFileName {
    font-size: 14px;
    height: 32px;
    width: 500px;
    line-height: 23px;
    text-align: left;
    color: #333;
    border: solid 1px #cfcfcf;
    display: inline-block;
    margin-left: 8px;
    padding-left: 8px;
    box-sizing: border-box;
}

    #txtFileName:not(:disabled):hover {
        background-color: #e1eeff;
        border-color: #0d6efd;
        color: #0d6efd;
        cursor: pointer;
    }

/* ************************** */
/* スプレッド                 */
/* ************************** */
/* リース契約履歴部(登録モード用) */
.detailboxLineLeaseHistory {
    display: flex;
    flex-wrap: wrap;
    width: 1235px;
    height: 68px;
    padding-left: 46px;
    box-sizing: border-box;
}

/* リース契約履歴部(更新モード用) */
.detailboxLineUpdLeaseHistory {
    display: flex;
    flex-wrap: wrap;
    width: 1285px;
    height: 190px;
    padding-left: 46px;
    box-sizing: border-box;
}

/* コンテナ一覧部(登録モード用) */
.detailboxLineCtnList {
    display: flex;
    flex-wrap: wrap;
    width: 1335px;
    height: 540px;
    padding-left: 10px;
    box-sizing: border-box;
}

/* コンテナ一覧部(更新モード用) */
.detailboxLineUpdCtnList {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    height: 365px;
    padding-left: 46px;
    box-sizing: border-box;
}

/* リース額一覧部(更新モードのみ) */
.detailboxLineLeaseList {
    display: flex;
    flex-wrap: wrap;
    width: 1110px;
    height: 288px;
    padding-left: 46px;
    box-sizing: border-box;
}

/* 月別コンテナ一覧部(更新モードのみ) */
.detailboxLineMonthlyCtnList {
    display: flex;
    flex-wrap: wrap;
    width: 1097px;
    height: 350px;
    padding-left: 46px;
    box-sizing: border-box;
}

/* スプレッド */
.spreadStyle {
    display: flex;
    flex-wrap: nowrap;;
    height: auto;
    background-color: white;
}

/* ************************** */
/* コンボボックス             */
/* ************************** */
/* 日割 */
.divDdlArea select.ddlSelectDaycalcEnd {
    height: 32px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectDaycalcEnd:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectDaycalcEnd:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 請求書出力先、計上先 */
.divDdlArea select.ddlSelectOrg {
    height: 32px;
    width: 150px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectOrg:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectOrg:disabled {
    background-color: #f3f3f3;
    color: #000;
}

.detailboxLineInput > span.spanOrg {
    width: 122px;
    height:30px;
}

/* 一括請求フラグ */
.divDdlArea select.ddlSelectInvoiceAll {
    height: 32px;
    width: 90px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectInvoiceAll:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectInvoiceAll:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* スポットリース区分 */
.divDdlArea select.ddlSelectSpotKbn {
    height: 32px;
    width: 90px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectSpotKbn:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectSpotKbn:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 締日区分 */
.divDdlArea select.ddlSelectClosingdayKbn {
    height: 32px;
    width: 150px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectClosingdayKbn:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectClosingdayKbn:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 自動更新 */
.divDdlArea select.ddlSelectAutoCalc {
    height: 32px;
    width: 90px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectAutoCalc:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectAutoCalc:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 更新期間 */
.divDdlArea select.ddlSelectUpdPeriod {
    height: 32px;
    width: 90px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectUpdPeriod:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectUpdPeriod:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 税区分 */
.divDdlArea select.ddlSelectTaxKbn {
    height: 32px;
    width:  80px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectTaxKbn:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectTaxKbn:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 日割端数処理１ */
.divDdlArea select.ddlSelectDaylyHassu1 {
    height: 32px;
    width:  90px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectDaylyHassu1:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectDaylyHassu1:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* 日割端数処理２ */
.divDdlArea select.ddlSelectDaylyHassu2 {
    height: 32px;
    width: 145px;
    font-size: 12pt;
    padding: 2px;
    outline: none;
    border-color: #cfcfcf;
    border-radius: 0;
    margin-left: 5px;
}
.divDdlArea select.ddlSelectDaylyHassu2:not(:disabled):hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}
.divDdlArea select.ddlSelectDaylyHassu2:disabled {
    background-color: #f3f3f3;
    color: #000;
}

/* ************************** */
/* 選択                       */
/* ************************** */
/* 選択ボックス */
div.singleInput > span {
    display: block;
}
/* 選択ボックス */
div.singleInput > .actionButtonBox {
    padding-left: 0px;
}
/* 高さ指定 */
.grc0001Wrapper input[type=checkbox] + label,
.grc0001Wrapper input[type=radio] + label{
    height:34px;
}

.detailboxLineInput > div.singleInput.right-harf.grc0001Wrapper {
    width: 146px;
    height:30px;
}

div.singleWorkflow {
    margin-left: 20px;
}
/* 操作ボックス */
div.singleWorkflow > span {
    display: block;
}
/* 操作ボックス */
div.singleWorkflow > .actionButtonBox {
    padding-left: 0px;
}
/* 操作ボックス */
.workflowLineInput > div.singleWorkflow.right-harf.grc0001Wrapper {
    width: 146px;
    height:30px;
}

.grc0001Wrapper input[type=checkbox]:not(:disabled) + label:hover,
.grc0001Wrapper input[type=radio]:not(:disabled) + label:hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}

.grc0001Wrapper input[type=checkbox]:not(:disabled):checked + label,
.grc0001Wrapper input[type=radio]:not(:disabled):checked + label {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}

.grc0001Wrapper input[type=checkbox]:not(:disabled):checked + label:before,
.grc0001Wrapper input[type=radio]:not(:disabled):checked + label:before {
    color: #0d6efd;
}

.grc0001Wrapper input[type=checkbox]:disabled:checked + label:before,
.grc0001Wrapper input[type=radio]:disabled:checked + label:before {
    color: #aaa;
}

.grc0001Wrapper input[type=checkbox]:disabled + label,
.grc0001Wrapper input[type=radio]:disabled + label{
    background-color: #f3f3f3;
    color: #aaa;
}

.grc0001Wrapper ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}

select.Width90,
input[type=text].Width90,
textarea.Width90 {
    width: 90%;
}

/* ************************** */
/* 決済条件検索               */
/* ************************** */
#pnlKekkjSrcWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#pnlKekkjSrcArea {
    /*height: 80%;*/
    width: 60%;
    margin-top: 60px;
    margin-left: 20px;
    align-items: center;
    font-size: 12pt;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(225, 225, 225, 1)
}

#divKekkjSrcHead {
    position: relative;
    left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.divKekkjSrcHeadLeft {
    display: flex;
    width: 230px;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 10px;
}

.divKekkjSrcHeadMiddle {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 90px;
}

.divKekkjSrcHeadRight {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 228px;
}


#divKekkjSrcButtonArea {
    box-sizing: border-box;
    white-space: nowrap; /* 小さくリサイズしても折り返さない設定 */
    align-items: center;
}

#btnKekkjSrcCLOSE {
    position: relative;
    /*left: 294px;*/
    height: 100%;
    box-sizing: border-box;
    font-size: 100%;
    width: 100px;
}

#divKekkjSrcBody {
    position: relative;
    top: 0px;
    left: 5px;
    width: 99%;
    height: 450px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(225, 225, 225, 1);
}

#pnlKekkjSrc {
    position: relative;
    top: 10px;
    /*left: 20px;*/
    width: 97%;
    height: 90%;
}

    #pnlKekkjSrc td, #pnlKekkjSrc th {
        white-space: nowrap; /* 折り返させない */
        text-overflow: ellipsis; /* 領域越を点々表示 */
        font-size: 10pt;
    }

/* 決済条件一覧部 */
.detailboxLineKekkjSrc {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 435px;
    padding-left: 46px;
    box-sizing: border-box;
}

/* ************************** */
/* コンテナ検索               */
/* ************************** */
#pnlReconmSrcWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#pnlReconmSrcArea {
    /*height: 80%;*/
    width: 60%;
    margin-top: 60px;
    margin-left: 20px;
    align-items: center;
    font-size: 12pt;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(225, 225, 225, 1)
}

#divReconmSrcHead {
    position: relative;
    left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.divReconmSrcHeadLeft {
    display: flex;
    width: 500px;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 10px;
}

.divReconmSrcHeadMiddle {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
    left: 90px;
}

.divReconmSrcHeadRight {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-shrink: 0;
    position: relative;
}


#divReconmSrcButtonArea {
    box-sizing: border-box;
    white-space: nowrap; /* 小さくリサイズしても折り返さない設定 */
    align-items: center;
}

#divReconmSrcBody {
    position: relative;
    top: 0px;
    left: 5px;
    width: 99%;
    height: 450px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(225, 225, 225, 1);
}

#pnlReconmSrc {
    position: relative;
    top: 10px;
    /*left: 20px;*/
    width: 97%;
    height: 90%;
}

    #pnlReconmSrc td, #pnlReconmSrc th {
        white-space: nowrap; /* 折り返させない */
        text-overflow: ellipsis; /* 領域越を点々表示 */
        font-size: 10pt;
    }

/* コンテナ一覧部 */
.detailboxLineReconmSrc {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 435px;
    padding-left: 46px;
    box-sizing: border-box;
}

/* コンテナ記号 */
Input.reconmCtnType {
    width: 80px;
    height: 30px;
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

/* コンテナ番号 */
Input.reconmCtnNo {
    width: 80px;
    height: 30px;
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

/* 空白 最小 */
.divReconmSrcHeadLeft > span.span1 {
    width: 13px;
    height:30px;
}

.title1 {
    margin: 30px 16px 0;
    padding: 8px;
    border-left: 10px solid #0f4493;
    border-bottom: 1px solid #0f4493;
}

.title2 {
    margin-top: 0px;
    border-left: 10px solid rgb(0, 148, 255);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid rgb(0, 148, 255);
}

/* 空白 担当者等入力 */
.workflowLineInput > span.spanLeft {
    width: 50px;
    height:30px;
}

.workflowLineInput > span.span1 {
    width: 17px;
    height:30px;
}

.detailboxLineLabel > div.divLblTantou {
    width:144px;
    height: 24px;
}

/* 左位置を合わせる用の空白 */
.detailboxLineLabel > span.spanLeftTan {
    width: 47px;
    height:24px;
}
/* 空白 最小 */
.detailboxLineLabel > span.span1Tan {
    width: 17px;
    height:24px;
}

#TxtBrnchApplUserNm, #TxtBranchApprovalUserNm, #TxtCtnConfUserNm, #TxtCtnApprovalUserNm {
    width: 145px !important;
}

.divLblChgNote{
    color: red;
    width: 550px;
    height: 24px;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 15px;
}

/* ************************** */
/* グリッドエリア             */
/* ************************** */
div.tblApplHistory {
    display: flex;
    margin-top: 5px;
    margin-left: 45px;
    max-width: 100%;
    width: 500px;
}

    div.tblApplHistory > div {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        height: 206px;
        overflow: auto;
    }

table.tblHistory {
    border-collapse: separate !important;
    background-color: #fff;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    height: 40px;
    z-index: 1;
}

table#contents1_gvApplHistory {
    table-layout: fixed;
    width: 2000px;
    max-height: 300px;
}
    table.tblHistory th,
    table.tblHistory td {
        height: 40px;
        text-align: center;
        font-size: 12px;
        border-top: 1px solid #cfcfcf;
        border-left: 1px solid #cfcfcf;
    }

    table.tblHistory th {
        position: sticky;
        top: 0;
        background-color: #0f4493;
        color: #FFFFFF;
        font-weight: unset;
        z-index: 200;
    }

        table.tblHistory th:first-child,
        table.tblHistory td:first-child {
            border-left: 1px solid #cfcfcf;
        }

    table.tblHistory > tbody > tr:not(:nth-child(1)):nth-child(2n) {
        background-color: #e1eeff;
    }

    table.tblHistory > tbody > tr:not(:nth-child(1)):nth-child(2n+1) {
        background-color: #fff;
    }

div.tblWrapper {
    display: flex;
    margin-top: 5px;
    max-width: 100%;
    max-height: calc(100% - 180px);
    width: 1330px;
}

    div.tblWrapper > div {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-height: calc(100% - 180px);
        height: 350px;
        overflow: auto;
    }

table.tbl {
    border-collapse: separate !important;
    background-color: #D9DEE4;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    z-index: 1;
}

table#contents1_gvLNT0005Upd {
    table-layout: fixed;
    width: 2000px;
    height: 30px;
}

    table.tbl th,
    table.tbl td {
        /*height: 27px !important;*/
        text-align: center;
        font-size: 14px;
        border-top: 1px solid #FFFFFF;
        border-left: 1px solid #FFFFFF;
    }

    table.tbl th {
        position: sticky;
        top: 0;
        background-color: #191970;
        color: #FFFFFF;
        font-weight: unset;
        z-index: 200;
    }

        table.tbl th:first-child,
        table.tbl td:first-child {
            border-left: 1px solid #FFFFFF;
        }

    table.tbl > tbody > tr:not(:nth-child(1)):nth-child(2n) {
        background-color: #B0C4DE;
    }

    table.tbl > tbody > tr:not(:nth-child(1)):nth-child(2n+1) {
        background-color: #D9DEE4;
    }

/* ************************** */
/* ワークフロー情報欄         */
/* ************************** */
/* #region ワークフロー情報入力フィールド表示制御 */
#divWorkflowBulkInputField > div {
    margin-bottom: 5px;
}
#divWorkflowBulkInputField #spnShowHideWorkflowBulkInputField {
    color: blue;
    display: inline-block;
    cursor: pointer;
}
#divWorkflowBulkInputField #spnShowHideWorkflowBulkInputField:hover {
    text-decoration: underline;
}
#divWorkflowBulkInputField #spnShowHideWorkflowBulkInputField:after {
    content: "非表示"
}
#divWorkflowBulkInputField.hide #spnShowHideWorkflowBulkInputField:after {
    content: "表示"
}
#divWorkflowBulkInputField.hide .divWorkflowBulkInputSubFiled {
    display: none;
}
#divWorkflowBulkInputField.hide input#WF_BTN_FINAL_BULK_INPUT {
    display: none;
}

/* ************************** */
/* 追加コンテナ欄             */
/* ************************** */
/* #region コンテナ一括入力フィールド表示制御 */
#divContainerBulkInputField > div {
    margin-bottom: 5px;
}
#divContainerBulkInputField #spnShowHideContainerBulkInputField {
    display: inline-block;
    padding: 2px 16px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    color: #333;
    line-height: 23px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
#divContainerBulkInputField #spnShowHideContainerBulkInputField:hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}
#divContainerBulkInputField #spnShowHideContainerBulkInputField:after {
    content: "非表示"
}
#divContainerBulkInputField.hide #spnShowHideContainerBulkInputField:after {
    content: "表示"
}
#divContainerBulkInputField.hide .divContainerBulkInputSubFiled {
    display: none;
}
#divContainerBulkInputField.hide input#WF_TAB3_BTN_CONTAINER_BULK_INPUT {
    display: none;
}

.title1.alert {
    border-color : red;
    color : red;
}

.mar-b5 {
    margin-bottom: 5px !important;
}

/* ************************** */
/* ファイナンス情報欄         */
/* ************************** */
/* #region ファイナンス情報一括入力フィールド表示制御 */
#divFinalBulkInputField > div {
    margin-bottom: 5px;
}
#divFinalBulkInputField #spnShowHideFinalBulkInputField {
    display: inline-block;
    padding: 2px 16px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    color: #333;
    line-height: 23px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
#divFinalBulkInputField #spnShowHideFinalBulkInputField:hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}
#divFinalBulkInputField #spnShowHideFinalBulkInputField:after {
    content: "非表示"
}
#divFinalBulkInputField.hide #spnShowHideFinalBulkInputField:after {
    content: "表示"
}
#divFinalBulkInputField.hide .divFinalBulkInputSubFiled {
    display: none;
}
#divFinalBulkInputField.hide input#WF_BTN_FINAL_BULK_INPUT {
    display: none;
}

/* ************************** */
/* グリッド(申請履歴)         */
/* ************************** */
/* LINECNT */
.wLINECNTpx {
    width: 25px;
}

/* 状態 */
.wSITUATIONpx {
    width: 120px;
}

/* 実施者 */
.wPRACTITIONERpx {
    width: 150px;
}

/* 実施日 */
.wIMPLEMENTATIONDATEpx {
    width: 100px;
}

/* ************************** */
/* グリッド(更新)             */
/* ************************** */

/* No. */
.wNOpx {
    width: 25px;
    height:30px;
}
/* 選択 */
.wSELchkboxpx {
    width: 40px;
}
/* コンテナ記号 */
.wCTNTYPEpx {
    width: 90px;
    height:30px;
}
/* コンテナ番号 */
.wCTNNOpx {
    width: 90px;
}

/* 契約形態 */
.wCONTRALNTYPENMpx {
    width:100px;
}

/* 契約形態 */
.wCONTRALNTYPEpx {
    width:155px;
}

/* 日付（参照用） */
.wDateDISPpx {
    width: 80px;
}
/* 日付（入力用） */
.wDateINPUTpx {
    width: 123px;
}
/* 月額リース料 */
.wLeaseFeepx {
    width: 100px;
}
/* 日割ラベル */
.wDayCalceCancelpx {
    width: 106px;
}
/* 日割ラベル */
.wDayCalcepx {
    width: 80px;
}
/* 日割 */
select.ddlDayCalce {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}

    select.ddlLeaseFeeDayCalce:disabled {
        background-image: none;
        background-color: #ccc;
        border-color: #ccc;
        /*color: #2bb6c1;*/
    }

/* 請求先コード */
.wTORICDpx {
    width: 100px;
}
/* 請求先名称 */
.wTORINMpx {
    width:400px;
}

.v-alignM {
    vertical-align: -webkit-baseline-middle;
}

/* 組織 */
.wORGpx {
    width:100px;
}
/* 組織(変更後) */
.wORGCHGpx {
    width:110px;
}

/* 組織コード */
select.ddlOrgChg {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}

    select.ddlOrgChg:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* 税区分 */
.wTaxKbnLblpx {
    width: 80px;
}

/* 税区分 */
.wTaxKbnpx {
    width: 80px;
}

/* 税区分 */
select.ddlTaxKbn {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlTaxKbn:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* 日割端数処理１ */
.wROUNDKBN1px {
    width:100px;
}
/* 日割端数処理１(変更後) */
.wROUNDKBN1CHGpx {
    width:100px;
}
/* 日割端数処理２ */
.wROUNDKBN2px {
    width:100px;
}
/* 日割端数処理２(変更後) */
.wROUNDKBN2CHGpx {
    width:140px;
}

/* 日割端数処理 */
select.ddlRoundKbnChg {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}

    select.ddlRoundKbnChg:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* 決済条件（変更前） */
.wKESAIpx {
    width: 300px;
}
/* 決済条件（変更後） */
.wKESAICHGpx {
    width: 300px;
}
/* 締日（変更前） */
.wCLOSINGDAYpx {
    width: 50px;
}
/* 締日（変更後） */
.wCLOSINGDAYCHGpx {
    width: 50px;
}
/* 計上月区分（変更前） */
.wACCOUNTINGMONTHpx {
    width: 100px;
}
/* 計上月区分（変更後） */
.wACCOUNTINGMONTHCHGpx {
    width: 100px;
}

/* 計上月区分（変更後） */
select.ddlAccountingMonthChg {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlAccountingMonthChg:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* 自動更新区分 */
.wAutoCalcLblpx {
    width: 80px;
}

/* 自動更新区分 */
.wAutoCalcpx {
    width: 80px;
}

/* 自動更新区分 */
select.ddlAutoCalcKbn {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlAutoCalcKbn:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* 更新期間 */
.wUpdPeriodLblpx {
    width: 80px;
}

/* 更新期間 */
.wUpdPeriodpx {
    width: 80px;
}

/* 更新期間 */
select.ddlUpdPeriod {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlUpdPeriod:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }


/* 細分コード */
.wINVSUBCDLblpx {
    width:50px;
}

/* 細分コード */
.wINVSUBCDpx {
    width:50px;
}

/* 一括請求フラグ */
.wBulkbillingFlgLblpx {
    width:80px;
}
/* 一括請求フラグ */
.wBulkbillingFlgpx {
    width:80px;
}
/* 一括請求フラグ */
select.ddlBulkbillingFlg {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlBulkbillingFlg:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* スポットリース区分 */
.wSpotleaseKbnLblpx {
    width:80px;
}
/* スポットリース区分 */
.wSpotleaseKbnpx {
    width:100px;
}
/* スポットリース区分 */
select.ddlSpotleaseKbn {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlSpotleaseKbn:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* 締日区分 */
.wClosingdayKbnLblpx {
    width:80px;
}
/* 締日区分 */
.wClosingdayKbnpx {
    width:120px;
}
/* 締日区分 */
select.ddlClosingdayKbn {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlClosingdayKbn:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* 改造費リース区分 */
.wRemodelLeaseKbnLblpx {
    width:140px;
}
/* 改造費リース区分 */
.wRemodelLeaseKbnpx {
    width:140px;
}
/* 改造費リース区分 */
select.ddlRemodelLeaseKbn {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlRemodelLeaseKbn:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

/* ファイナンス情報 */
/* 購入価格（1個当たり） */
/* 改造費（総額） */
.wFINALMONEYpx {
    width: 90px;
}

/* 残存率 */
.wSurvivaLRatepx {
    width: 50px;
}

/* 残存率 */
select.ddlSurvivaLRate {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlSurvivaLRate:disabled {
        background-image: none;
        background-color: #ccc;
        border-color: #ccc;
        /*color: #2bb6c1;*/
    }

/* 耐用年数 */
/* 経過年数 */
.wYEARSpx {
    width: 50px;
}

/* 非表示項目用 */
.wDISPNONEpx {
    width: 150px;
}

/* ************************** */
/* 共通エリア                 */
/* ************************** */
/* ドロップダウンリスト */
select.ddlDropDownList {
    height: 30px;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
}
    select.ddlDropDownList:disabled {
        background-image: none;
        background-color: white;
        border-color: white;
        font-color:#000000;
        color: #000000;
    }

.v-alignM {
    vertical-align: -webkit-baseline-middle;
}

.txt-l {
    text-align: left !important;
}

.txt-r {
    text-align: right !important;
}

#hdnSelectInvoice {
    display: none;
}

#pnlCtnListBtn.detailboxLineInput a {
    font-weight: bold;
}

/* ************ */
/* 共通情報周辺 */
/* ************ */
.category1 {
    margin-top: 20px;
}
.category1 > div[id^="div"] > div > span[id^="lbl"],
#divTransStationOuro > div > span[id^="lbl"],
#divTransStationHukuro > div > span[id^="lbl"]{
    border:1px solid gray;
    width:500px;
    min-height: 24px; /* 18.24px; */
    padding:5px;
    display:inline-block;
    margin-left:20px;
    margin-top:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis ;
}
#txtMatterName2 {
    width: 510px;
    padding: 6px;
    min-height: 24px;
    margin-left: 20px;
    margin-top: 5px;
}
.title1 {
    margin-top: 10px;
    border-left: 10px solid rgb(0, 148, 255);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid rgb(0, 148, 255);
}
/* **************************** */
/* ファイルアップロード         */
/* **************************** */
#divFileUploadArea .otherfileUploadArea {
    padding-top:5px;
    padding-left:20px;
}
#divFileUploadArea .fileListTitle {
    margin-left: 20px;
    margin-top: 5px;
}
#btnOtherFileUpload {
    margin-top:5px;
    margin-left:20px;
}
form[data-applying="1"] #btnOtherFileUpload,

#divFileList {
    margin-left: 20px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}
    #divFileList .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
#divFileList > div {
    display:flex;
}
#divFileList > div:first-child > div{
    background-color:#FFE699;
    color:#000000;
}
#divFileList > div > div {
    border:1px solid darkgray;
    border-left:0;
    border-top:0;
    padding:5px;
    text-wrap:normal;  
    word-break:break-all; 
}
#divFileList > div > div:first-child {
    border-left:1px solid darkgray;
}
#divFileList > div:first-child > div {
    border-top:1px solid darkgray;
}
#divFileList .filename {
    width:450px;
    min-width:450px;
}
#divFileList .filename a {
    text-decoration:none;
}
#divFileList .filename a:hover {
    text-decoration:underline;
    color:darkorange;
}
#divFileList .upduser {
    width:150px;
    min-width:150px;
}
#divFileList .upddate {
    width:120px;
    min-width:120px;
}
#divFileList .type {
    width:250px;
    min-width:250px;
}
#divFileList .type select {
    width:100%;
    height:90%;
}
    #divFileList .comment {
        width: 250px;
        min-width: 250px;
    }

    #divFileList .divDomCommentInputWrapper {
        position: relative;
    }

    #divFileList .richTextIconArea {
        box-sizing: content-box;
    }
    #divFileList textarea {
        resize: none;
        text-overflow: ellipsis;
        height: 37px;
        line-height: 25px;
        width: 100%;
        padding-left: 25px;
        overflow: hidden;
        user-select: none;
    }
#divFileList .delete {
    width:50px;
    min-width:50px;
}
#divFileList .data.delete {
    text-align:center;
    font-weight:bold;
    color:red;
    font-size:18px;
    padding-top: 15px;
}
#divFileList .data.delete .deleteAttachFile {
    cursor:pointer;
}

#fupOtherFileUpload, #aiorcFileUpload {
    display: none;
}

/* 追加　ラベル用 */
div[class*='caption'] {
    display: block !important;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 2px;
    background-color: #C3D7EB;
    text-align: center;
}
.caption {
    height: 24px !important;
    line-height: 24px !important;
    text-align: left !important;
}

.caption1 {
    width: 150px;
}

.caption2 {
    width: 150px;
    margin-left: 60px;
}

.caption3 {
    width: 150px;
    margin-left: 90px;
}

.caption4 {
    width: 150px;
    margin-left: 28px;
}

.captionInvoiceAll {
    width: 150px;
    margin-left: 15px;
}

.captionClosingDate {
    width: 150px;
    margin-left: 15px;
}

.captionUpdPeriod {
    width: 150px;
    margin-left:120px;
}

.captionDayHasuu {
    width: 150px;
    margin-left: 80px;
}

.captionSubCd {
    width: 150px;
    margin-left: 15px;
}

#TxtUpdInvoiceName {
    margin-left: 5px;
}

#TxtUpdInvoiceCode {
    margin-left: 10px;
}

#TxtCancelYMD {
    margin-left: 5px;
}

#TxtChgStartYMD {
    margin-left: 5px;
}

#TxtKesaiNm {
    margin-left: 5px;
}

#TxtInvSubCd {
    margin-left: 5px;
}
