/*アップロードボタン*/
#WF_UPLOAD_LABEL {
    display: block;
}

input#WF_UPLOAD_BTN {
    display: none;
}

#WF_UPLOAD_LABEL:hover {
    cursor: pointer;
}

#WF_UPLOAD_LABEL:has(input:disabled) {
    background-color: #f3f3f3;
    color: #aaa;
}

    #WF_UPLOAD_LABEL:has(input:disabled):hover {
        border-color: #cfcfcf;
        cursor: default;
    }

div[data-generated='1'] div[id$='_HL'] table, div[data-generated='1'] div[id$='_HR'] table {
    height: 46px;
}

div[data-generated='1'] div[id$='_DL'],
div[data-generated='1'] div[id$='_DR'] {
    top: 46px;

}

#btnLink {
height: 20px;
width: 50px;
}
    #btnLink:hover {
        cursor: pointer;
    }


#chkLink {
height: 50%;
width: 80%;
}