/* 一旦レスポンス用 画像のプリロード */
body:before {
    content: url(../img/leftbox.png) url(../img/calendar.png);
    display: none;
}
/* テキストボックス補正 */
input[type=text] {
    height: 32px;
    left:0px;
    font-size: 14px;
    box-sizing: border-box;
    padding-top:1px;
    padding-left:0px;
    padding-bottom:1px;
    text-align: left;
    border-radius: 0;
}
.boxIconArea div, .calendarIconArea div {
    margin-top: calc(100% - 12.5px);
}
/* アイコン位置補正 */
/* Chromeのみアイコンがテキストボックスの中央に行かないので補正 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .calendarIconArea div, .boxIconArea div {
        margin-top: calc(100% - 8px);
    }
}
/* Edgeも通ってしまうので打ち消す */
_:-ms-lang(x)::backdrop, .calendarIconArea div, .boxIconArea div {
    margin-top: calc(100% - 8px);
}

#divContensbox{
    overflow: hidden;
}
 /* コンテンツの最小横幅 */
.headerbox {
    min-width: 1220px;
}

.headerbox a {
    font-size: 0.8em;
}

/* ************************** */
/* ボタンの設定 */
/* ************************** */
/* 戻るボタン */
/* メニューボタンのみを表示するために定義 */
.btn-back {
    display: none;
}

/* 検索のボタン */
.btn-stickySearch {
    height: 32px;
    width: 75px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    background-color: #0d6efd;
    border: solid 1px #0d6efd;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 16px;
    outline: none;
}
.btn-stickySearch:hover {
    background-color: #589cff;
    border: solid 1px #589cff;
}

.btn-stickySearch:disabled {
    background-color: #f3f3f3;
    border-color: #cfcfcf;
    color: #aaa;
}

/* 実行画面 ヘッダー部のみ */
.headerboxOnly {
    width: 100%;
    min-width:650px;
    min-height:110px;
    background-color: rgba(240,240,240,0.43);
    height:100%;
    position:relative;
    overflow: auto;
}

/* ************************** */
/* 明細入力欄の全体の設定 */
/* ************************** */
#detailbox {
    min-width: 1220px;
    width: 100%;
    height: calc(100% - 2.4em - 1.4em);
    background-color: rgb(237,237,237);
    position: relative;
    overflow: auto;
}

.detailbox a {
    font-size:14.5px;
    align-items: flex-end;
}

/* 空白行 */
.detailboxLineBlank {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 16px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 領域越を点々表示 */
}

/* 明細入力欄の項目名(ラベル) ------------------------------------------------------------------ */
/* ラベル行 */
.detailboxLineLabel {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 26px;
    box-sizing: border-box;
    text-overflow: ellipsis; /* 領域越を点々表示 */
}

/* 明細入力欄の項目名(ラベル用のspan) ----------------------------------------------------------- */
/* 1項目のサイズ */
.detailboxLineLabel > span {
    display:inline-block;
    margin:1px;
}
/* 左位置を合わせる用の空白 */
.detailboxLineLabel > span.spanLeft {
    width: 46px;
    height:24px;
}
/* 空白 最小 */
.detailboxLineLabel > span.span1 {
    width: 17px;
    height:24px;
}

/* 明細入力欄の項目名(ラベル用のdiv) ------------------------------------------------------------- */
/* 計上年月 */
.detailboxLineLabel > div.divKeijoYM {
    width:111px;
    height: 24px;
}

/* 請求先 */
.detailboxLineLabel > div.divLblInvoice {
    width:220px;
    height: 24px;
    font-weight: bold;
}

/* 請求書出力先、計上先 */
.detailboxLineLabel > div.divDownList {
    width:150px;
    height: 24px;
    font-weight: bold;
}

/* 契約形態 */
.detailboxLineLabel > div.divContract {
    width:443px;
    height: 24px;
    font-weight: bold;
}

/* コンテナ記号 */
.detailboxLineLabel > div.divLblctnType {
    width:111px;
    height: 24px;
    font-weight: bold;
}

/* コンテナ番号 */
.detailboxLineLabel > div.divLblctnNo {
    width:130px;
    height: 24px;
    font-weight: bold;
}

/* 状況 */
.detailboxLineLabel > div.divStatus {
    width:150px;
    height: 24px;
    font-weight: bold;
}

/* 明細入力欄(INPUT)  -------------------------------------------------------------------------- */
/* 明細入力欄 */
.detailboxLineInput {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 12px);
    height: 34px;
    box-sizing: border-box;
}

/* 計上年月 */
input.txtDownloadMonth {
    width: 111px;
    height: 30px;
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

/* 請求先、請求書出力先、計上先 */
.detailboxLineInput > a.invoice {
    width:220px;
    height: 30px;
}

/* コンテナ記号 */
.detailboxLineInput > a.ctnType {
    width: 111px;
    height: 30px;
}

/* コンテナ番号 */
.detailboxLineInput > a.ctnNo {
    width: 130px;
    height: 30px;
}

/* 1項目のサイズ */
.detailboxLineInput > span {
    display:inline-block;
    margin:1px;
}
/* 左位置を合わせる用の空白 */
.detailboxLineInput > span.spanLeft {
    width: 46px;
    height:30px;
}
/* 空白 最小 */
.detailboxLineInput > span.span1 {
    width: 17px;
    height:30px;
}

/* ************************** */
/* コンボボックス             */
/* ************************** */
/* 支店 */
.divDdlArea select.ddlSelectOrgCode {
    height: 32px;
    width: 150px;
    font-size: 12pt;
    padding: 2px;
    border-radius: 0;
    border-color: #cfcfcf;
    outline: none;
    box-sizing: border-box;
}
.divDdlArea select.ddlSelectOrgCode:hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}

/* 更新期間 */
.divDdlArea select.ddlSelectApplStatus {
    height: 32px;
    width: 160px;
    font-size: 12pt;
    padding: 2px;
    border-color: #cfcfcf;
}

.divDdlArea select.ddlSelectApplStatus:hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}

/* ************************** */
/* 選択                       */
/* ************************** */
/* 選択ボックス */
div.singleInput > span {
    display: block;
}
/* 選択ボックス */
div.singleInput > .actionButtonBox {
    padding-left: 0px;
}

.grc0001Wrapper input[type=checkbox] + label,
.grc0001Wrapper input[type=radio] + label {
    border: 1px solid #cfcfcf;
    border-radius: 0;
    height: 30px;
    color: #333;
}
.grc0001Wrapper input[type=checkbox]:not(:disabled) + label:hover,
.grc0001Wrapper input[type=radio]:not(:disabled) + label:hover {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}

.grc0001Wrapper input[type=checkbox]:checked + label,
.grc0001Wrapper input[type=radio]:checked + label {
    background-color: #e1eeff;
    border-color: #0d6efd;
    color: #0d6efd;
}

.grc0001Wrapper input[type=checkbox]:checked + label:before,
.grc0001Wrapper input[type=radio]:checked + label:before {
    color: #0d6efd;
}

.detailboxLineInput > div.singleInput.right-harf.grc0001Wrapper {
    width: 146px;
    height:30px;
}

.grc0001Wrapper input[type=checkbox]:disabled + label,
.grc0001Wrapper input[type=radio]:disabled + label{
    background-image: none;
    background-color: #ccc;
    border-color: #ccc;
    color: #2bb6c1;
}

/* ************************** */
/* セレクトボックス           */
/* ************************** */
.selectBox {
    display: flex;
    align-items: center;
    vertical-align: middle;
    /*justify-content: center;*/
    white-space: nowrap;
}

.divSelectItem {
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 30px;
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

select.Width90,
input[type=text].Width90,
textarea.Width90 {
    width: 90%;
}

/* ************************** */
/* スプレッド                 */
/* ************************** */
/* リース一覧部 */
.detailboxLineLeaseList {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    height: 800px;
    padding-left: 46px;
    box-sizing: border-box;
}

.actionButtonBox .leftSide {
    font-size: 14px;
    font-weight: bold;
}

.selectFrame {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    margin: 0 16px;
    padding: 16px;
    overflow-x: auto;
}

#pnlListArea {
    height: calc(100vh - 46px - 45px - 170px - 32px);
}