[id^="WF_DDL"] {
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    ime-mode: inactive;
    color: #404040;
    /*padding: 6px 4px 6px 4px;*/
    border-color: skyblue;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
    width: 80px;
    height: 25px;
}
/*--------------------------------------------------------------
# 調整（k.miyake)
--------------------------------------------------------------*/
#divContensbox {
    overflow: hidden;
}

#pnlListArea {
    margin: 0 0px;
}

:root, [data-bs-theme=light] {
    --bs-body-font-size: 1.5rem;
}

.fs-5 {
    font-size: 1.5rem !important;
}

th {
    text-align: center;
}
/*--------------------------------------------------------------
# サイズ基準
# 1rem = 16px
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Bootstrap Customize
--------------------------------------------------------------*/
.form-select {
    font-size: 1.5rem;
    width: 18rem;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

#ListCount {
    margin-right: 20px;
    margin-left: 15px;
}

/*--------------------------------------------------------------
# タブエリア
--------------------------------------------------------------*/
.tabBox {
    display: flex;
    background-color: #AEAAAA;
    width: 100%;
}

.btn-tab {
    font-size: 1.7rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #333;
    height:35px;
}