body {
}

input[type=text][readonly] {
    padding-left: 4px !important;
    background-color: rgb(237, 237, 237) !important;
}

    input[type=text][readonly].disabledcalendarIcon:not(.iconOnly) {
        padding-left: 0.3em;
    }

input[type=text].disabledcalendarIcon {
    padding-left: 25px;
}

input[type=date][readonly] {
    background-color: rgb(237, 237, 237) !important;
}

#SetItemBox {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    margin: 24px 16px 0;
    padding: 16px;
    box-sizing: border-box;
}

    #SetItemBox div[id^=KEY_LINE_] {
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
        /* ************************** */
        /* 単票入力欄の列定義         */
        /* ************************** */
        /* 1項目(名称 文言 列幅) */
        #SetItemBox div[id^=KEY_LINE_] > .divSelectItem {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }
            /* 項目名欄(n行目の入力欄の1,3・・・列に適用するスタイル) */
            #SetItemBox div[id^=KEY_LINE_] > .divSelectItem > :nth-child(2n+1) {
                display: inline-block;
                width: 7em;
                padding-left: 16px;
                font-weight: bold;
                flex-shrink: 0;
            }
            /* 入力欄(n行目の入力欄の2,4・・・列に適用するスタイル) */
            #SetItemBox div[id^=KEY_LINE_] > .divSelectItem > :nth-child(2n+2) {
                display: inline-block;
            }
/* ************************** */
/* セレクトボックス           */
/* ************************** */
.selectBox {
    margin-bottom: 16px;
    font-weight: bold;
}

.divListItem input[type=checkbox],
.divListItem2 input[type=checkbox] {
    display: none;
}

    .divListItem input[type=checkbox] + label,
    .divListItem2 input[type=checkbox] + label {
        display: flex;
        width: 75px;
        padding-left: 5px;
        padding-right: 5px;
        height: 28px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        position: relative;
    }

    .divListItem input[type=checkbox]:checked + label,
    .divListItem2 input[type=checkbox]:checked + label {
        background-color: #e1eeff;
        border-color: #0d6efd;
        color: #0d6efd;
    }

    .divListItem input[type=checkbox]:checked + label:before,
    .divListItem2 input[type=checkbox]:checked + label:before {
        position: absolute;
        left: 2px;
        content: "✔";
        color: #0d6efd;
    }

    .divListItem input[type=checkbox]:not(:disabled) + label:hover,
    .divListItem2 input[type=checkbox]:not(:disabled) + label:hover {
        cursor: pointer;
        background-color: #e1eeff;
        border-color: #0d6efd;
        color: #0d6efd;
    }

.divListItem ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.divListItem2 ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

/*--------------------------------------------------------------
# 調整（k.miyake)
--------------------------------------------------------------*/
#divContensbox {
    overflow: hidden;
}

#pnlListArea {
    margin: 0 0px;
}

:root, [data-bs-theme=light] {
    --bs-body-font-size: 1.5rem;
}

.fs-5 {
    font-size: 1.5rem !important;
}

/*--------------------------------------------------------------
# サイズ基準
# 1rem = 16px
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Bootstrap Customize
--------------------------------------------------------------*/
.form-select {
    font-size: 1.5rem;
    width: 18rem;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}


/*--------------------------------------------------------------
# common微調整
--------------------------------------------------------------*/
/* 虫眼鏡アイコン位置調整 */
.boxIconArea div {
    margin-top: calc(100% - 0px) !important;
}

/* 明細位置調整 */
.detailboxOnly {
    height: 100% !important;
    /*width: 90% !important;*/
}
#detailkeybox {
    width: 80% !important;
    height: 73% !important;
    overflow-x: hidden;
    overflow-y: auto !important;
    padding-bottom: 180px;
    position: fixed;
}

/* 左ボックス */
#LF_LEFTBOX {
    width: 30em !important;
}

#detailkeybox p[id^=KOTEIHI_LINE_] {
    min-width: 500px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
/* ************************** */
/* 単票入力欄の列定義         */
/* ************************** */
/* 1項目(名称 文言 列幅) */
#detailkeybox p[id^=KOTEIHI_LINE_] > span {
    display: inline-block;
    margin-bottom: 8px;
}

#detailkeybox p[id^=KOTEIHI_LINE_]:last-of-type > span {
    margin-bottom: 0;
}

/* 項目名欄(n行目の入力欄の1,4,7,10・・・列に適用するスタイル) */
#detailkeybox p[id^=KOTEIHI_LINE_] > span > :nth-child(1) {
    display: inline-block;
    width: 10em;
    font-weight: bold;
}
/* 入力欄(n行目の入力欄の2,5,8,11・・・列に適用するスタイル) */
#detailkeybox p[id^=KOTEIHI_LINE_] > span > :nth-child(2) {
    display: inline-block;
    width: 11em;
}
/* 名称欄(n行目の入力欄の3,6,9,12・・・列に適用するスタイル) */
    #detailkeybox p[id^=KOTEIHI_LINE_] > span > :nth-child(3) {
        display: inline-block;
        width: 5.5em;
    }
    #detailkeybox p[id^=KOTEIHI_LINE_] > span > :nth-child(4) {
        display: inline-block;
        width: 10em;
        font-weight: bold;
    }
/* 入力欄(n行目の入力欄の2,5,8,11・・・列に適用するスタイル) */
#detailkeybox p[id^=KOTEIHI_LINE_] > span > :nth-child(5) {
    display: inline-block;
    width: 11em;
}
/* 名称欄(n行目の入力欄の3,6,9,12・・・列に適用するスタイル) */
#detailkeybox p[id^=KOTEIHI_LINE_] > span > :nth-child(6) {
    display: inline-block;
    width: 15.5em;
}

#detailkeybox p[id^=KOTEIHI_LINE_] > span.magnifier > :nth-child(1) {
    display: inline-block;
    width: 10em;
}
#detailkeybox p[id^=KOTEIHI_LINE_] > span.magnifier > :nth-child(2) {
    display: inline-block;
    width: 11.5em;
}
#detailkeybox p[id^=KOTEIHI_LINE_] > span.magnifier > :nth-child(3) {
    display: inline-block;
    width: 5.5em;
}
#detailkeybox p[id^=KOTEIHI_LINE_] > span.magnifier > :nth-child(4) {
    display: inline-block;
    width: 10em;
    font-weight: bold;
}
#detailkeybox p[id^=KOTEIHI_LINE_] > span.magnifier > :nth-child(5) {
    display: inline-block;
    width: 11em;
}


#TxtSelLineCNT, #TxtDelFlg, #TxtCampCode, #TxtTORICODE, #TxtORGCODE, #TxtKASANORGCODE, #TxtTODOKECODE, #TxtTANKA {
    text-align: right !important;
}

#detailkeybox p[id^=KOTEIHI_LINE_] > span > b {
    display: inline-block;
    width: 190px !important;
}

.ddlSelectControl {
    height: 30px;
    width: 175px !important;
    font-size: 12pt;
    padding: 2px;
}

#TxtSYABARA, #TxtKOTEIHI, #TxtGETSUGAKU, #TxtGENGAKU, #TxtKOTEIHIM, #TxtKOTEIHID, #TxtKAISU, #TxtKINGAKU {
    text-align: right !important;
}

#WF_GETSUGAKU_TEXT, #WF_GENGAKU_TEXT, #WF_KOTEIHI_TEXT, #WF_KOTEIHIM_TEXT, #WF_KOTEIHID_TEXT, #WF_KINGAKU_TEXT {
    font-weight: bold;
}