#TxtTaishoYm {
    width: 120px !important;
    border-radius: 0;
}
/*--------------------------------------------------------------
# 調整（k.miyake)
--------------------------------------------------------------*/
#divContensbox {
    overflow: hidden;
}
#pnlListArea {
    margin: 0 0px;
}
:root, [data-bs-theme=light] {
    --bs-body-font-size: 1.5rem;
}

.fs-5 {
    font-size: 1.5rem !important;
}
th {
    text-align: center;
}
/*--------------------------------------------------------------
# サイズ基準
# 1rem = 16px
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Bootstrap Customize
--------------------------------------------------------------*/
.form-select {
    font-size: 1.5rem;
    width: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}
*, ::after, ::before {
    box-sizing: unset;
}