#TxtTaishoYm {
    width: 120px !important;
    border-radius: 0;
}
/*--------------------------------------------------------------
# 調整（k.miyake)
--------------------------------------------------------------*/
#divContensbox {
    overflow: hidden;
}

#pnlListArea {
    margin: 0 0px;
}

:root, [data-bs-theme=light] {
    --bs-body-font-size: 1.5rem;
}

.fs-5 {
    font-size: 1.5rem !important;
}

th {
    text-align: center;
}
/*--------------------------------------------------------------
# サイズ基準
# 1rem = 16px
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Bootstrap Customize
--------------------------------------------------------------*/
.form-select {
    font-size: 1.4rem;
    width: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

/*--------------------------------------------------------------
# タブエリア
--------------------------------------------------------------*/
.tabBox {
    display: flex;
    background-color: #AEAAAA;
    width: 100%;
}

.btn-tab {
    font-size: 1.7rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #333;
    height: 35px;
}
