/* 一旦レスポンス用 画像のプリロード */
body:before {
    content: url(../img/leftbox.png) url(../img/calendar.png);
    display: none;
}
/* テキストボックス補正 */
/*input[type=text] {
    height: 1.6em;
    font-size: 13.5px;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 1px;
}*/

.boxIconArea div, .calendarIconArea div {
    margin-top: calc(100% - 12.5px);
}
/* アイコン位置補正 */
/* Chromeのみアイコンがテキストボックスの中央に行かないので補正 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .calendarIconArea div, .boxIconArea div {
        margin-top: calc(100% - 12px);
    }
}
/* Edgeも通ってしまうので打ち消す */
_:-ms-lang(x)::backdrop, .calendarIconArea div, .boxIconArea div {
    margin-top: calc(100% - 12.5px);
}

#TxtTaishoYm {
    width: 120px !important;
    border-radius: 0;
}
/*--------------------------------------------------------------
# 調整（k.miyake)
--------------------------------------------------------------*/
#divContensbox {
    overflow: hidden;
}

#pnlListArea {
    margin: 0 0px;
}

:root, [data-bs-theme=light] {
    --bs-body-font-size: 1.5rem;
}

.fs-5 {
    font-size: 1.5rem !important;
}

th {
    text-align: center;
}
/*--------------------------------------------------------------
# サイズ基準
# 1rem = 16px
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Bootstrap Customize
--------------------------------------------------------------*/
.form-select {
    font-size: 1.4rem;
    width: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

/*--------------------------------------------------------------
# タブエリア
--------------------------------------------------------------*/
.tabBox {
    display: flex;
    background-color: #AEAAAA;
    width: 100%;
}

.btn-tab {
    font-size: 1.7rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #333;
    height: 35px;
}
#LF_LEFTBOX {
    display: none;
    padding: 15px;
    width: 24em;
    position: fixed;
    top: 2.4em;
    bottom: 1.4em;
    left: 0;
    overflow: auto;
    background-color: rgba(242, 242, 242,1);
    z-index: 20;
}
/* 左リストボックス */
.WF_ListBoxArea {
    margin-top: 5px;
    margin-bottom: 5px;
    height: calc(100% - 8.5em);
    min-height: 100px;
    width: 20.0em;
    overflow: hidden;
    overflow-y: auto;
    color: black;
    border: 1px solid;
    /*outline: none;*/
    border-color: rgba(176, 176, 276, 0.6);
    background-color: rgba(255, 255, 255, 1);
    font-size: 1em;
    border-radius: 3px;
}